<!-- aboutus Section used to be called services on the site-->
    <section id="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About us</h2>
                    <h3 class="section-subheading text-muted"><em>Engineering Amplifiers for Home, Stage, and Studio.</em></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary-dark"></i>
                        <i class="fa-solid fa-radio fa-stack-1x fa-inverse"></i>
                        <!--<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>-->
                    </span>
                    <h4 class="aboutus-heading">PhonoVox</h4>
                    <p class="text-muted">With 30 years of experience across the audio industry 
                        in both sales and product development, we have worked with British audio 
                        icons such as Naim and Bowers & Wilkins, championing ground-breaking designs
                         like the Zeppelin, helping bring it to prominence in the mid-2000s. 
                         <br> We have thus gained a deep understanding of emerging trends and 
                         customers’ audio experience. As audiophiles ourselves, we appreciate
                          and value quality engineering, which makes it an honour to be working
                           with Lint Audio UK.

                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary-dark"></i>
                        <i class="fa-solid fa-wave-square fa-stack-1x fa-inverse"></i>
                        <!--<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>-->
                    </span>
                    <h4 class="aboutus-heading">Lint Audio UK</h4>
                    <p class="text-muted">Lint Audio has been manufacturing valve audio for the past 4 years in South Africa. Over three decades of experience in aircraft avionics and military design has allowed us to produce a range of competitive products. <br> 
                        With a focus on well-engineered, robust processes, valve audio need not be expensive, selecting valve types and materials that are easily sourced. <br>
                        Our amplifier range is designed to be built in stages. Start with a pre amp. This may be used on existing solid state equipment. Then by internal bridges, can be adjusted accordingly. <br> 
                        Visit <a href="https://lintaudio.com/" target="_blank" class="underlined-link">https://lintaudio.com/</a> for more information.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary-dark"></i>
                        <i class="fa-solid fa-screwdriver-wrench fa-stack-1x fa-inverse"></i>
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                    </span>
                    <h4 class="aboutus-heading">Products & Services</h4>
                    <p class="text-muted">Currently on the site we have DIY amplifier kits designed and sourced by Lint Audio UK, with the option for PhonoVox's building service. <br> 
                        As we have experience writing curriculums for colleges, we will offer short build courses for our product range and facilitate demonstrations after the course. An opportunity to upskill and network with like-minded enthusiasts.</p>
                </div>
            </div>
        </div>
    </section>