<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Products</h2>
                    <!--<h3 class="section-subheading text-muted">Lint audio UK range</h3>
                     <p class="text-muted text-center mb-4 mt-1">
  All Lint Audio products feature a lightweight and robust aluminium chassis with riveted corners, as well as preamplifier transformers encapsulated in steel for durability and noise reduction. Each unit includes CNC-machined end bells and is supplied with NOS (New Old Stock) valves.
  <br><em>Note: IEC mains cable, solder, assembly tools, and shipping are not included. Colours are selected upon application.</em>
</p> New description-->

 <h3 class="section-subheading text-muted">
        <em>Lint audio UK range</em><br><br>
        <span class="primary-fanta">All Lint Audio UK products feature a lightweight and robust aluminium chassis with riveted corners, as well as preamplifier transformers encapsulated in steel for durability and noise reduction. Each unit includes CNC-machined end bells and is supplied with NOS (New Old Stock) valves.<br><em>Note: IEC mains cable, solder, assembly tools, and shipping are <strong>not included</strong>. Colours are selected upon application.</em></span>
    </h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <!--<i class="fa fa-plus fa-3x"></i>-->
                                 <div class="hover-price">£{{ post.price }}</div>
    <div class="hover-description">{{ post.short-description }}</div>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <!--<h4>{{ post.title }}</h4>-->
                        <h4>
                            <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                              {{ post.title }}
                            </a>
                          </h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
